<html>
    <head>

        <script type="text/javascript" src="https://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/style/index.css">
 
        <link href="/style/gokart.css" rel="stylesheet">

    </head>

        <body>

            <nav>
                <h4>GOKART telemetria</h4>
            <ul>
                
                <li><a href="/leaderboard">Eredmények</a></li>
        
                <li><a href="/">Kilépés</a></li>

                </ul>
            </nav>

            <header id="header"><p>Top Laptimes:</p>

                 <div class="first">1</div>

                <div class="bestlap">

                <div class="elements">

                    <div id="firsttime">00:00:00</div>
    
                     <div id="firstname"></div>

                    </div>

                </div>

                 <div class="second">2</div>

                <div class="bestlap">

                <div class="elements">

                    <div id="secondtime">00:00:00</div>

                     <div id="secondname"></div>
 
                </div>

                </div>

                 <div class="third">3</div>

                <div class="bestlap">

                <div class="elements">

                    <div id="thirdtime">00:00:00</div>

                     <div id="thirdname"></div>

                </div>

                </div>


            </header>
            
            <div id="newdiv">
                
            <div id="speeds">

            </div>

            <div class="wrapper">

                <canvas id="myChart2"></canvas>

                <canvas id="myChart1"></canvas>

            </div>  

            </div>          

        </body>

    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/js/gokart.js"></script>

</html>