<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Gokart-telemetria ROS kompatibilitással</title>


    <link rel="stylesheet" href="/style/register_with_password-style.css" />
    <link rel="stylesheet" href="/style/index.css">


  </head>

  <body>

    <nav>
    
    <h4>GOKART telemetria</h4>
    
    <ul>      
        
        <li><a href="/register_admin">Admin regisztráció</a></li>

        <li><a href="/login_with_password">Versenyző bejelentkezés</a></li>
    
    </ul>
  
    </nav>

    <section class="box">

      <div class="design">

        <img class="gokart-img" src="/img/gokart-login.jpg" />

      </div>

      <div class="form">

        <div class="formname">Versenyző regisztráció</div>

        <form action="/auth/register_with_password" method="POST">
        
            <input type="text" name="username" class="input-field" placeholder="Felhasználónév" />

            <input type="email" name="email" class="input-field" placeholder="Email" />
            
            <input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Tartalmaznia kell legalább 1 számot, kis és nagybetűt és legalább 8 karaktert." class="input-field" placeholder="Jelszó" />    

            <input type="submit" class="btn" value="Regisztráció" />

       </form>

       {{#if message}}
       <h4 class="alert alert-danger mt-4">{{message}}</h4>
       {{/if}}

       <div id="jelszonelkul"><a href="/gokart">Ha csupán a futamot akarod megtekinteni kattints ide.</a></div>

      </div>



    </section>

  </body>

</html>